<link rel="stylesheet" href="~/css/style3.css">
<link rel="stylesheet" href="~/css/responsive.css">

<div class="inner-banner has-base-color-overlay text-center">
    <div class="container">
        <div class="box">
            <h3>About Us</h3>
        </div>
    </div>
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="pull-left col-md-10">
                <ul class="list-inline link-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                    <li>
                        About Us
                    </li>
                </ul>
            </div>
            <div class="pull-right col-md-2">
                <a href="#" class="get-qoute"><i class="fa fa-share"></i>share</a>
            </div>
        </div>
        
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col md-5">
            <img src="~/img/who.jpg" alt="Awesome Image" width="500" height="300" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
        </div>
        <div class="col-md-7">
            <div class="content who-we-are-area padd-2">
                <div class="sec-title style-2">
                    <h2>Who <span>We are</span></h2>
                </div>
                <div class="text">
                    Hello from BES E-commerce Media Group. We're a mid sized tech shop in Kurucesme, Buca that just keeps growing . Early on, we each choose web development and search marketing as our lifelong studies. It's where our interests lie. And that's good for clients. By combining our team's best practices and ethical standarts with a business team' s objective, we deliver results.    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content who-we-are-area padd-2">
            <div class="founder clearfix">
                <div class="img-holder">
                    <img src="~/img/berkcan_meric.jpg" alt="Awesome Image">
                </div>
                <div class="name">
                    <h3>Berkcan Meric</h3>
                    <p>
                        <a href="https://www.linkedin.com/in/berkcanmeric/">
                        <img src="~/img/in.png" width="15Px" height="15"></a>
                        CO-Founder &amp; CEO 
                    </p>    
                </div>
            </div>
            <div class="text">
                Leads the daily operations at BES E-Commerce, including product development and global sales. Berkcan is passionate about people, sports, and really efficient processes.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content who-we-are-area padd-2">
            <div class="founder clearfix">
                <div class="img-holder">
                    <img src="~/img/enes_sahin.jpg" alt="Awesome Image">
                </div>
                <div class="name">
                    <h3>Enes Sahin</h3>
                    <p>
                        <a href="https://www.linkedin.com/in/enes-sahinnn/">
                        <img src="~/img/in.png" width="15Px" height="15"></a>
                        Chief Technology Officer
                    </p>
                </div>
            </div>
            <div class="text">
                Fearlessly leads our engineering team and is responsible for BES E-Comemrce's underlying technology. His focus is on data acquisition, with a passion for backend architecture and infrastructure.            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content who-we-are-area padd-2">
            <div class="founder clearfix">
                <div class="img-holder">
                    <img src="~/img/samet_kemal_ozdemir.jpg" alt="Awesome Image">
                </div>
                <div class="name">
                    <h3>Samet Kemal Ozdemir</h3>
                    <p>
                        <a href="https://www.linkedin.com/in/samet-kemal-ozdemir/">
                        <img src="~/img/in.png" width="15Px" height="15"></a>
                        Chief Product Officer
                    </p>
                </div>
            </div>
            <div class="text">
                Oversees all stages of BES E-Comemrce's product lifecycle. Strategic thinker with a passion for building teams and creating elegant solutions to complex problems.
            </div>
        </div>
    </div>
</div>
