<section class="header-main border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-6">
        <a href="/" class="brand-wrap btn text-primary fw-bold">
          <img src="~/img/logo.png" width="160">
        </a>

      </div>
      <div class="col-lg-6 col-12 col-sm-12">
        @await Html.PartialAsync("_search")
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <div class="widgets-wrap float-md-end">
          <div class="widget-header mr-3">
            <a href="/Cart/CartList" class="icon icon-sm rounded-circle border">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
          <div class="widget-header icontext ">
            <a href="/Account/Profile" class="icon icon-sm rounded-circle border">
              <i class="fa fa-user"></i>
            </a>
          </div>
          <div class="text">
            <span class="text-muted text-center">Welcome</span>
            <div>

              <a class="User-Link btn" asp-controller="Account" asp-action="Login"><img style="width: 2rem;"
                  src="~/img/login.png" alt="login">Login</a>

              <a class="User-Link btn" asp-controller="Account" asp-action="Register"> <img style="width: 2rem;"
                  src="~/img/register.png" alt="register">Register</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
