<header>
    <div class="container-fluid bg-dark text-light p-5 mb-4">
      <div class="container bg-dark p-5">
        <h1 class="display-4">Shopp app</h1>
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi inventore deleniti
          perspiciatis praesentium id, est perferendis veritatis quo asperiores nostrum?</p>

      </div>
    </div>
  </header>