<div class="px-5 mx-5">
  <form action="/search" class="m-3">
    <div class="input-group">

      <input name="q" type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>

