<div class="jumbotron text-center">
    <h1 class="display-3">Error!</h1>
    <p class="lead"><strong>You do not have access to this page</strong> you need to be admin.</p>
    <hr>
    <p>
        Having trouble? <a href="/Home/About">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>